- if can? :index,  KepplerCatalogs::Catalog
	%li
		= header_tab t('model.plural.catalogs'), "perm_media", "KepplerCatalogs"
		= body_tab do
			- if can? :index, KepplerCatalogs::Catalog
				= link_tab "Lista de catálogos", '/admin/catalogs', "KepplerCatalogs::Catalogs"
			- if can? :index, KepplerCatalogs::Category
				= link_tab "Categorías", "/admin/attachment/categories", "KepplerCatalogs::Categories"
